[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
plotly-express = "*"
pandas = "*"
numpy = "*"
plotly = "*"
gunicorn = "*"
flask = "*"
gower = "*"
prince = "*"
selenium = "*"

[requires]
python_version = "3.7"
